html {
    --color-bg: #F2FDFF;
    --color-bg-light: #e9f2f2;

    --color-primary: #20435C;
    --color-primary-light: #4ba9e3;

    --color-secondary: #C3E1E5;
    --color-secondary-light: #adc7cc;

    --color-light: #FFF;
    --color-dark: #4E5966;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, button {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

a, a:visited {
    color: var(--color-primary-light);
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

.main-container {
    display: flex;
    flex-direction: column;
    background: var(--color-bg);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: grid;
    place-content: center;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 500;
    background: var(--color-primary);
    color: var(--color-light);
}

.main-content {
    font-size: 1.2rem;
    flex-grow: 1;
    padding: 2rem;
    overflow: hidden;
}

/* Table Definition */
.main-content table {
    color: var(--color-dark);
    width:100%;
    max-width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    border-top: 1px solid var(--color-dark);
    border-left: 1px solid var(--color-dark);
    overflow: scroll;
}

.main-content table tbody {
    border-bottom: 1px solid var(--color-dark);
}

.main-content table tbody tr:nth-child(even) {
    background: var(--color-bg-light);
}

.main-content table td {
    border-right: 1px solid var(--color-dark);
    font-size: 1.2rem;
}

.main-content table td, .main-content table th {
    text-align: center;
    padding: .5rem;
}

.main-content table thead th {
    border-right: 1px solid var(--color-dark);
    color: var(--color-dark);
    background: var(--color-secondary);
}
