.dynamic-content {
    display: flex;
    font-size: 1.5rem;
    background: var(--color-secondary);
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem;

}

.dynamic-content button {
    padding: .5rem;
    display: inline-block;
    margin: 0 0 1rem 1rem;
}

.dynamic-content p {
    display: inline-block;
    line-height: 1;
    padding: .5rem 5rem;
    border: 1px var(--color-dark) solid;
    color: var(--color-dark);
    margin: 0 0 1rem 1rem;
}

/* Growing element */
.main-content {
    flex: 1 1 auto;
    padding: 2rem;
    outline:  3px solid red;
    outline-offset: -4px;
}

.main-content table {
    height: 100%;
    max-height: 100%;
}
