/* Growing element */
.main-content {
    flex-grow: 1;
    padding: 2rem;
}

.main-content .content {
    display: grid;
    grid-template:  'hue saturation'  60px
                    'hue main'        1fr
                    'hue lightness'   60px
                    / 100px 1fr;

    align-items: stretch;
    justify-items: stretch;
    align-content: stretch;
    justify-content: stretch;
    min-width: 100%;
    min-height: 100%;
    border: .5rem var(--color-dark) solid;
    color: var(--color-dark);
}

:root {
    --current-hue: 0;
    --current-saturation: 100%;
    --current-lightness: 50%;
}

p.color, .content .main {
    --hue: var(--current-hue);
    --saturation: var(--current-saturation);
    --lightness: var(--current-lightness);
    background-color: hsl(
        var(--hue),
        var(--saturation),
        var(--lightness)
    );
}

.hue {
    grid-area: hue;
    display: flex;
    flex-direction: column;
}

.hue p {
    min-height: 5px;
    width: 100%;
    flex: 1 1 auto;
}

.saturation {
    grid-area: saturation;
    display: flex;
    flex-direction: row;
}

.saturation p {
    min-width: 5px;
    height: 100%;
    flex: 1 1 auto;
}

.lightness {
    grid-area: lightness;
    display: flex;
    flex-direction: row;
}

.lightness p {
    min-width: 5px;
    height: 100%;
    flex: 1 1 auto;
}

.main {
    grid-area: main;
    min-height: 2px;
    width: 100%;
    height: 100%;
    place-items: center;
}